.popup { 

    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .75);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        @include absCenter;
        width: 75%;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.333%;
        display: table-cell;
    }

    &__right {
        width: 66.666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;

        hyphens: auto;
    }
}