body {
    font-family: "lato", "sant-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem; 
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
    
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      /* ---- Animation - timing - function ---- */
    }
    
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }

.heading-secondary {
  -webkit-background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  background-image: linear-gradient(to right,  #7ed56f, #28b485);
  color: transparent; //NewTrick put img into letters
  transition: all .2s;
  letter-spacing: 2px;
 
  &:hover {
    transform: skewY(2deg) skewX(11deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;


  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}